<div class="container-fluid">
    <div class="col-md-12">
        <mat-card>
            <div class="purple text-center" ><i class="material-icons md-64">home</i> <span class="titleForm">Edit Room in {{(building|async)?.entities[(room|async).entities[idRoom].idBuilding].nameBuilding}}</span></div>

              <mat-spinner *ngIf="(room | async).loading"></mat-spinner>

            <form [formGroup]="editRoom" (ngSubmit)="onSubmit(editRoom.value)" *ngIf="!(room | async).loading">
                  <section>
                      <mat-radio-group formControlName="gender" [ngModel]="(room|async)?.entities[idRoom].gender">
                          <mat-radio-button value="true" class="gender" [checked]="(room|async)?.entities[idRoom].gender === true"> <fa-icon [icon]="faMars"></fa-icon> Male </mat-radio-button>
                          <mat-radio-button value="false" class="gender" [checked]="(room|async)?.entities[idRoom].gender === false"> <fa-icon [icon]="faVenus"></fa-icon> Female </mat-radio-button>
                        </mat-radio-group>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid" [ngClass]="errorClass ? 'mat-form-field-invalid ng-invalid' : ''">
                          <input matInput type="text" placeholder="Room Name" name="name" formControlName="name" [ngModel]="(room|async)?.entities[idRoom].name">
                          <input type="hidden" name="id" formControlName="id" [value]="(room|async).entities[idRoom]._id">
                          <input type="hidden" name="idBuilding" formControlName="idBuilding" [ngModel]="(room|async).entities[idRoom].idBuilding">
                      </mat-form-field>

                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input type="number" matInput placeholder="Beds" name="beds" formControlName="beds" [ngModel]="(room|async).entities[idRoom].beds">
                      </mat-form-field>
                    </section>
                  <section>
                    <mat-form-field class="container-fluid">
                        <input type="number" matInput placeholder="Rent" name="rent" formControlName="rent" [ngModel]="(room|async).entities[idRoom].rent">
                    </mat-form-field>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input type="number" matInput placeholder="Deposit" name="deposit" formControlName="deposit" [ngModel]="(room|async).entities[idRoom].deposit">
                      </mat-form-field>
                    </section>
                  <section class="text-right">
                      <button mat-raised-button class="text-right" type="submit" color="primary" [disabled]="!editRoom.valid" >Edit Room</button>
                  </section>
                </form>
        </mat-card>

</div></div>
