<app-menu></app-menu>
<div class="container-fluid">
  <div class="col-md-12">
      <mat-card>
         <div class="purple text-center" >        <i class="material-icons md-64">person</i> <span class="titleForm">New Check In</span></div>
            <form [formGroup]="newCustomer" (ngSubmit)="onSubmit(newCustomer)">
                <section class="container-fluid">

                    <!-- <mat-radio-group formControlName="gender">
                        <mat-radio-button value="true" class="gender" checked> <fa-icon [icon]="faMars"></fa-icon> Male </mat-radio-button>
                        <mat-radio-button value="false" class="gender"> <fa-icon [icon]="faVenus"></fa-icon> Female </mat-radio-button>
                      </mat-radio-group> -->

                    <!-- <mat-form-field class="container-fluid"> -->
                        <input  type="hidden"  placeholder="idCustomer" name="idCustomer" formControlName="idCustomer" value="idCustomer">
                        <input  type="hidden"  placeholder="idRoom" name="idRoom" formControlName="idRoom" value="idRoom">
                        <input  type="hidden"  placeholder="idBuilding" name="idBuilding" formControlName="idBuilding" value="'test'">
                        <input  type="hidden"  placeholder="type" name="type" formControlName="type" value="'checkin'">
                        <input  type="hidden"  placeholder="now" name="now" formControlName="now" value="new Date()">
                    <!-- </mat-form-field> -->

                </section>
                <section>
                  <mat-form-field class="container-fluid">
                      <input type="text" matInput placeholder="Customer name" name="namePayment" formControlName="namePayment">
                  </mat-form-field>
                </section>
                <section>
                    <mat-form-field class="container-fluid">
                        <mat-select placeholder="Payment Type" name="paymentType" formControlName="paymentType">
                          <mat-option [value]="'Cash'">
                            Cash
                          </mat-option>
                          <mat-option [value]="'Other'">
                            Other Kind
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input type="number" matInput placeholder="Rent" name="amount" formControlName="amount">
                      </mat-form-field>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input type="number" matInput placeholder="Deposit" name="deposit" formControlName="deposit">
                      </mat-form-field>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input type="text" matInput placeholder="Additional Info" name="info" formControlName="info">
                      </mat-form-field>
                  </section>
                  <!-- <section>
                      <mat-form-field class="container-fluid">
                          <input type="number" matInput placeholder="Weekly Rent" name="rent" formControlName="rent">
                      </mat-form-field>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input type="number" matInput placeholder="Deposit" name="deposit" formControlName="deposit">
                      </mat-form-field>
                  </section> -->

                  <section>
                      <mat-form-field class="container-fluid">
                          <input matInput [matDatepicker]="from" placeholder="Payement from" formControlName="from">
                          <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                          <mat-datepicker #from></mat-datepicker>
                      </mat-form-field>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input matInput [matDatepicker]="to" placeholder="Payement to" formControlName="to">
                          <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                          <mat-datepicker #to></mat-datepicker>
                      </mat-form-field>
                  </section>
                <section class="text-right">
                    <button mat-raised-button class="text-right" type="submit" color="primary">Insert New Customer</button>
                </section>
              </form>
            </mat-card>
</div></div>


