
            <div class="purple text-center" >        <i class="material-icons md-64">local_hotel</i> <span class="titleForm">Create a new Room</span></div>
            <form [formGroup]="newRoom" (ngSubmit)="onSubmit()">
                <section class="container-fluid">

                    <mat-radio-group formControlName="gender">
                        <mat-radio-button value="true" > <fa name="fa-male" ></fa> Male</mat-radio-button>
                        <mat-radio-button value="false">Female</mat-radio-button>
                      </mat-radio-group>

                    <!-- <mat-form-field class="container-fluid"> -->
                        <input  type="hidden"  placeholder="Name Building" name="nameBuilding" formControlName="nameBuilding" >

                    <!-- </mat-form-field> -->

                </section>
                <section>
                  <mat-form-field class="container-fluid">
                      <input type="text" matInput placeholder="Room name" name="name" formControlName="name">
                  </mat-form-field>
                </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input type="number" matInput placeholder="Beds" name="beds" formControlName="beds">
                      </mat-form-field>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input type="number" matInput placeholder="Weekly Rent" name="rent" formControlName="rent">
                      </mat-form-field>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input type="number" matInput placeholder="Deposit" name="deposit" formControlName="deposit">
                      </mat-form-field>
                  </section>

                  <section>
                      <mat-form-field class="container-fluid">
                          <input matInput [matDatepicker]="notice" placeholder="Select Notice Date" formControlName="notice">
                          <mat-datepicker-toggle matSuffix [for]="notice"></mat-datepicker-toggle>
                          <mat-datepicker #notice></mat-datepicker>
                      </mat-form-field>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <input matInput [matDatepicker]="booked" placeholder="Select Booked Date" formControlName="booked">
                          <mat-datepicker-toggle matSuffix [for]="booked"></mat-datepicker-toggle>
                          <mat-datepicker #booked></mat-datepicker>
                      </mat-form-field>
                  </section>
                <section class="text-right">
                    <button mat-raised-button class="text-right" type="submit" color="primary">Insert New Room</button>
                </section>
              </form>

