<div class="container" *ngIf="setup">
  <div class="row">
    <div class="col-md-10">
        <mat-card>
          <h3 class="purple text-center" >First time setup, Please create your Super Admin</h3>
          <form [formGroup]="usersSignup" (ngSubmit)="onSignUp()">
            <section>
                <mat-form-field class="container-fluid">
                    <input matInput type="email" placeholder="Email" name="email" formControlName="email">
                </mat-form-field>

            </section>
            <mat-form-field class="container-fluid">
                <input type="password" matInput placeholder="Password" name="password" formControlName="password" >
            </mat-form-field>
            <mat-form-field class="container-fluid">
                <input type="password" matInput placeholder="Check Password"  name="checkPassword" formControlName="checkPassword" >
            </mat-form-field>
            <button
              mat-button
              class="mat-primary-bg"
              type="submit"
              [disabled]="!usersSignup.valid || usersSignup.get('password').value !== usersSignup.get('checkPassword').value">
                Sign Up
            </button>
          </form>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card>
    </div>
  </div>
</div>

<div class="container" *ngIf="!setup">
  <div class="row">
    <div class="col-md-10">
        <mat-card>
          <h3 class="purple text-center" >Welcome in Kripteya</h3>
          <form [formGroup]="usersLogin" (ngSubmit)="onLogin()">
            <section>
                <mat-form-field class="container-fluid">
                    <input matInput type="email" placeholder="Email" name="email" formControlName="emailLogin">
                </mat-form-field>

            </section>
            <mat-form-field class="container-fluid">
                <input type="password" matInput placeholder="Password" name="password" formControlName="passwordLogin" >
            </mat-form-field>
            <button mat-button class="mat-primary-bg" type="submit" [disabled]="!usersLogin.valid">Login</button>

          </form>
        </mat-card>
    </div>
  </div>
</div>
