<app-menu></app-menu>
<app-buildings-menu></app-buildings-menu>
<div class="container-fluid">
    <div class="col-md-12">
        <mat-card>
            <!-- <div class="purple text-center" ><i class="material-icons md-64">home</i> <span class="titleForm">Edit a Property</span></div> -->
              <form [formGroup]="editBuilding" (ngSubmit)="onSubmit(editBuilding.value)">

                  <section>
                      <mat-form-field class="container-fluid" [ngClass]="errorClass ? 'mat-form-field-invalid ng-invalid' : ''">
                          <input matInput type="text" placeholder="Name Building" name="nameBuilding" formControlName="nameBuilding" [ngModel]="(building|async).entities[idBuilding].nameBuilding">
                          <input type="hidden" name="id" formControlName="id" [value]="(building|async).entities[idBuilding]._id">
                      </mat-form-field>

                  </section>
                  <section>
                    <mat-form-field class="container-fluid">
                        <input type="text" matInput placeholder="Address" name="address" formControlName="address" [ngModel]="(building|async).entities[idBuilding].address">
                    </mat-form-field>
                  </section>
                  <section>
                      <mat-form-field class="container-fluid">
                          <textarea matInput placeholder="Additional Info" name="info" rows="8" formControlName="info" [ngModel]="(building|async).entities[idBuilding].info"></textarea>
                      </mat-form-field>
                    </section>
                  <section class="text-right">
                      <button mat-raised-button class="text-right" type="submit" color="primary" [disabled]="!editBuilding.valid" >Edit Building</button>
                  </section>
                </form>
        </mat-card>

</div></div>
